.header {
  padding: 10px 20px 10px;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  max-width: 220px;
  width: 80%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.icon {
  background-color: #FFF;
  border-radius: 120px;
  margin: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

#root {
  max-width: 1200px;
  width: 80%;
}

.MuiButtonBase-root {
  color: #FFF;
  background-color: #FFF;
}

.btt {
  font-size: 1em;
}

.btt.MuiButtonBase-root {
  max-width: 170px;
  max-height: 60px;
  min-width: 80px;
  min-height: 60px;
  width: 80%;
  height: 50%;
}

.sticky {
  top: 0;
  width: 100%;
}

#content{
  padding: 16px;
}

.sticky + #content {
  padding-top: 50px;
}
