/* src/pages/Home.css */
.swiper-container {
  width: 100%;
  height: 100vh; /* Ajusta a altura para ocupar a tela inteira */
}

.swiper {
  width: 100%;
  height: 100%; /* Ajusta a altura para preencher o container */
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Necessário para o posicionamento absoluto do texto */
  height: 100%; /* Ajusta a altura para se adequar ao container */
}

.swiper-slide img {
  width: 100%;
  height: 100%; /* Mantém a imagem cobrindo todo o slide */
  object-fit: cover; /* Mantém a proporção da imagem e cobre o slide */
}

.swiper-slide div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 8px;
  max-width: 90%; /* Limita a largura máxima do texto */
}

.mobile-swiper {
  width: 45vh !important;
  right: 7.5%;
  height: 60vh !important; /* Ajuste a altura para uma proporção maior, como 60% da altura da viewport */
  position: relative;
  display: none;
}

@media (max-width: 768px) {
  .swiperhaha {
    display: none;
  }

  .mobile-swiper {
    display: flex;
  }

  .mobile-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%; /* Ajuste a altura dos slides para preencher o swiper */
}

.mobile-swiper .swiper-slide img {
  width: 100%;
  height: 100%; /* Ajuste a altura para preencher o container */
  object-fit: cover; /* Mantém a proporção da imagem e cobre o container */
}

.mobile-swiper .swiper-slide div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 5px !important; /* Aumenta o padding para mais espaço em torno do texto */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.mobile-swiper .swiper-slide h2 {
  font-size: 2rem !important; /* Aumenta o tamanho da fonte para maior legibilidade */
  margin-bottom: 10px;
}

.mobile-swiper .swiper-slide p {
  font-size: 1.35rem !important; /* Aumenta o tamanho da fonte para melhor leitura */
}

  .mobile-swiper .swiper-slide div {
    padding: 10px; /* Ajuste o padding conforme necessário */
  }

  .mobile-swiper .swiper-slide h2 {
    font-size: 1.8rem; /* Ajuste o tamanho da fonte */
  }

  .mobile-swiper .swiper-slide p {
    font-size: 1.1rem; /* Ajuste o tamanho da fonte */
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}
