body {
    background-image: url('images/cadastro.png');
    background-repeat: no-repeat no-repeat;
    background-color: #060610;
}

.outlined_input {
    margin: 10px;
    padding-top: 10px;
    background: #D9D9D9;
    border-radius: 6px;
    text-decoration: none;  
    max-width: 1000px;
    width: 40%;
    align-self: center;
}

#title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 800;
}

#button {
    height: 56px;
    max-width: 1000px;
    width: 40%;
    align-self: center;
}

img {
    padding-top: 30px;
    max-width: 500px;
    min-width: 150px;
    width: 35%;
    align-self: center;
}

@media screen and (max-width: 420px){
    body {
        background-image: url('./images/cadastro_mobile.png');
        background-color: #060610;
        background-repeat: no-repeat no-repeat;
        object-fit: cover;
        min-width: max-content;
        min-height: max-content;
        object-position: center;
        max-width: "100%";
        max-height: "100%";
        margin: 0;
        display: flex;
        place-items: center;
        min-height: 100vh;
    }
    #all {
        width: "100%";
        min-width: cover;
        height: "100%";
        min-height: cover;
    }
    #title {
        color: #D9D9D9;
        font-size: 36px;
        font-weight: 800;
    }

    .outlined_input {
        margin: 10px;
        padding-top: 10px;
        background: #D9D9D9;
        border-radius: 6px;
        text-decoration: none;  
        max-width: 1000px;
        width: 75%;
        align-self: center;
    }

    #button {
        height: 56px;
        max-width: 1000px;
        width: 75%;
        align-self: center;
    }

    img {
        padding-top: 30px;
        max-width: 600px;
        min-width: 100px;
        width: 80%;
        align-self: center;
    }
}
